# PostgreSQL
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DBNAME=security_portal
PG_USER=CHANGE_ME
PG_PASSWORD=CHANGE_ME

# Remediation Controller API
CONTROLLER_TOKEN=CHANGE_ME
CONTROLLER_REMEDIATE_URL=http://127.0.0.1:9000/remediate
CONTROLLER_REQUEST_TIMEOUT=2700
